* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #c8ccd0;
}

body {
	position: absolute;
	background-color: #0c0d0e;
	width: 99%;
	font-family: arial;
}

*:focus {
	outline: none;
	border-bottom: 1px solid gray;
}

#container {
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid gray;
	border-radius: 1%;
}

#container > div {
	border-bottom: 1px solid gray;
	text-align: center;
}

#container:last-child {
	border-bottom: none;
}

#header {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 2%;
}

#search-bar {
	border: none;
	border-bottom: 1px solid gray;
	background-color: inherit;
	font-size: 16px;
}

#main {
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.note {
	position: relative;
	display: inline-grid;
	width: 40%;
	/*min-width: 20%;*/
	/*max-width: 40%;*/
	min-height: 256px;
	border: 1px solid gray;
	text-align: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 1%;
	padding-top: 12px;
}

.note > textarea {
	position: relative;
	background-color: inherit;
	border: none;
	width: 90%;
	resize: none;
	height: 180px;
	font-family: inherit;
	font-size: inherit;
}

#new-note-button, .delete-note-button {
	position: relative;
	width: 15%;
	background-color: inherit;
	height: 22px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

.text-button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	font-size: 18px;
}